@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Bergen Sans';
  --font-timer: 'Digital Dismay';

  --color-dark-purple: #1E172D;
  --color-magic-purple: #422872;
  --color-light-purple: #5E277A;
  --color-yellow-energy: #fecf05;
  --color-mana-blue: #104777;
}

:root {
  --ui-text-dimmed: var(--color-mana-blue);
  --ui-text-muted: var(--color-light-purple);
  --ui-text-toned: var(--color-magic-purple);
  --ui-text: var(--color-magic-purple);
  --ui-text-highlighted: var(--color-dark-purple);
  --ui-text-inverted: var(--color-yellow-energy);

  --ui-bg-muted: var(--color-mana-blue);
  --ui-bg-elevated: var(--color-light-purple);
  --ui-bg-accented: var(--color-magic-purple);
  --ui-bg-inverted: var(--color-dark-purple);

  --ui-primary: var(--color-light-purple);
  --ui-secondary: var(--color-magic-purple);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  --ui-border: var(--color-mana-blue);
  --ui-border-muted: var(--color-yellow-energy);
  --ui-border-accented: var(--color-magic-purple);
  --ui-border-inverted: var(--color-dark-purple);
}

.dark {
  --ui-text-dimmed: var(--color-magic-purple);
  --ui-text-muted: var(--color-light-purple);
  --ui-text-toned: var(--color-mana-blue);
  --ui-text: var(--color-yellow-energy);
  --ui-text-highlighted: var(--color-yellow-energy);
  --ui-text-inverted: var(--color-dark-purple);

  --ui-bg: var(--color-dark-purple);
  --ui-bg-muted: var(--color-magic-purple);
  --ui-bg-elevated: var(--color-light-purple);
  --ui-bg-accented: var(--color-mana-blue);
  --ui-bg-inverted: white;

  --ui-primary: var(--color-yellow-energy);
  --ui-secondary: var(--color-magic-purple);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  --ui-border: var(--color-magic-purple);
  --ui-border-muted: var(--color-light-purple);
  --ui-border-accented: var(--color-mana-blue);
  --ui-border-inverted: var(--color-yellow-energy);
}

  @font-face {
    font-family: 'Digital Dismay';
    src: url('https://lucasfsanti.github.io/Counter-Time-Walk/Digital%20Dismay.otf') format('otf');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }
